body {
  background-color: aquamarine;
}
nav {
  display: flex;
  justify-content: space-around;
}
ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
}
li {
  padding-top: 2rem;
  margin-right: 5rem;
}
ul li a {
  color: black;
  text-decoration: none;
  padding: 20px;
  border-radius: 20px;
}
ul li a:hover {
  background-color: azure;
}
.tombol {
  padding-top: 3rem;
  margin-right: 5rem;
  margin-bottom: 20px;
}
.tombol a:hover {
  background-color: red;
}
.log {
  padding: 20px;
  border: 1px solid;
  border-radius: 20px;
  color: black;
  text-decoration: none;
  background-color: white;
}
.reg {
  padding: 20px;
  border: 1px solid;
  border-radius: 20px;
  color: black;
  text-decoration: none;
}
.frame1 {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.frame2 {
  width: 78rem;
  height: 35rem;
  background-color: rgba(43, 42, 46, 0.536);
  background-image: url("hd.webp");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}
.frame3 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.get {
  color: black;
  padding: 10px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 25px;
  background-color: white;
}
.frame3 a:hover {
  background-color: red;
}
.view {
  color: black;
  padding: 10px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 25px;
  margin-left: 5rem;
  background-color: white;
}
.frame4 {
  display: flex;
  justify-content: center;
}
.hed {
  display: flex;
  margin-top: 3rem;
  font-size: 60px;
  padding-left: 4rem;
  text-align: center;
}
.mom {
  margin-top: 50px;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgba(6, 99, 68, 0.318);
  border-radius: 20px;
}
.hus {
  display: flex;
}
.img {
  display: flex;
  padding-right: 20px;
  border-radius: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  box-shadow: rgb(35, 34, 34);
}
.child1 {
  text-align: center;
  padding-left: 30px;
  background-color: rgba(99, 122, 122, 0.284);
  padding-top: 30px;
  border-radius: 20px;
}
.hid1 {
  padding-left: 20px;
  font-size: 25px;
  text-align: center;
}
.hid2 {
  padding-left: 20px;
  font-size: 25px;
  text-align: center;
}
.hid3 {
  padding-left: 20px;
  font-size: 25px;
  text-align: center;
}
footer {
  background: rgba(104, 164, 14, 0.395);
  height: auto;
  width: 100vw;
  font-family: "Courier New", Courier, monospace;
  padding-top: 40px;
  color: black;
  margin-top: 25px;
  margin-left: 0;
}
.footer-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-contents h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-contents p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: black;
}
.socials a i {
  font-size: 1.1rem;
}
.social a:hover i {
  color: aqua;
}
.footer-bottom {
  background: rgb(33, 86, 33);
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: -4;
  font-weight: 200;
  color: black;
}
/* .a {
  display: flex;
  margin-top: 30px;
  nav-right: 20px;
  margin-left: 20px;
  text-align: justify;
}
footer {
  background-color: aliceblue;
  padding: 20px;
  text-align: center;
}
.lig {
  border-radius: 30px;
  padding-right: 20px;
} */

/* .container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.foot {
  background-color: #24262b;
  padding: 45px 0;
  margin-left: 15px;
}
.footer-col {
  width: 15%;
  padding: 0 5px;
  padding-right: 50px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  margin-left: 30px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 60px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  margin-left: 60px;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(225, 225, 225, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
} */
